{% extends "blog/base.html" %}

{% block content %}
    <h2 class="page-title">Blog Posts</h2> {# Optional: Add a title for the page content #}
    {% for post in posts %}
    <article class="post-card">
        <h3><a href="#">{{ post.title }}</a></h3> {# TODO: Replace # with actual post URL #}
        <p class="meta">{{ post.created_date|date:"F d, Y" }}</p> {# Format date nicely #}
        <div class="post-excerpt">
            {{ post.text|linebreaks|truncatewords:50 }} {# Show an excerpt #}
        </div>
        <a href="#" class="read-more">Read More →</a> {# TODO: Replace # with actual post URL #}
    </article>
    <article class="post-card">
        <h3><a href="#">{{ post.title }}</a></h3> {# TODO: Replace # with actual post URL #}
        <p class="meta">{{ post.created_date|date:"F d, Y" }}</p> {# Format date nicely #}
        <div class="post-excerpt">
            {{ post.text|linebreaks|truncatewords:50 }} {# Show an excerpt #}
        </div>
        <a href="#" class="read-more">Read More →</a> {# TODO: Replace # with actual post URL #}
    </article>
    <article class="post-card">
        <h3><a href="#">{{ post.title }}</a></h3> {# TODO: Replace # with actual post URL #}
        <p class="meta">{{ post.created_date|date:"F d, Y" }}</p> {# Format date nicely #}
        <div class="post-excerpt">
            {{ post.text|linebreaks|truncatewords:50 }} {# Show an excerpt #}
        </div>
        <a href="#" class="read-more">Read More →</a> {# TODO: Replace # with actual post URL #}
    </article>
    <article class="post-card">
        <h3><a href="#">{{ post.title }}</a></h3> {# TODO: Replace # with actual post URL #}
        <p class="meta">{{ post.created_date|date:"F d, Y" }}</p> {# Format date nicely #}
        <div class="post-excerpt">
            {{ post.text|linebreaks|truncatewords:50 }} {# Show an excerpt #}
        </div>
        <a href="#" class="read-more">Read More →</a> {# TODO: Replace # with actual post URL #}
    </article>
    {% empty %}
        <p>No posts have been published yet.</p>
    {% endfor %}
    
{% endblock %}