{% extends "blog/base.html" %}
{% load static %}

{% block title %}Create New Post - CodeCanvas{% endblock title %}

{% block content %}
    <div class="content-container"> {# Centering container for pages without sidebar #}
        <div class="post-new-form">
            <h1>Create New Post</h1> {# More descriptive title #}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }} {# Renders fields wrapped in <p> tags, including labels #}
                <div class="form-actions"> {# Wrapper for button(s) #}
                    <button type="submit" class="btn btn-primary">Save Post</button> {# Use <button> and classes #}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}